
html, body, :global(#root) {
  height: 100%;
}
:global(.ant-layout-sider){
  min-height: 100vh
}
:global(.lf){
  float:left;
}
:global(.rt){
  float:right;
}
:global(.ml20){
  margin-left: 20px;
}
:global(.mr20){
  margin-right: 20px;
}
